html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

*{font-family: 'Roboto', sans-serif;}

body {width: 80vw;
  box-sizing: border-box;
  margin: auto;}

section {
  padding-top: 2vh;
}
  
p {
  text-align: justify;
  color: #4c4c4e;
}

b {
  color: #1e4b7a;
}

b.extra {
  font-size: 1.3rem;
}

a {
  color: #cc0052;
}

a:hover {
  color: #000; 
}

.good_to_know {
  border: 2px solid #cc0052;
  border-radius: 5px;
  font-size: .8rem;
  padding: 10px;
  padding-top: 5px;
}

.title {
  color: #cc0052;
  padding-left: 1vw;
}


/* Header styling  */

header {
  position: sticky;
  top: 0px;
  box-shadow: 0px 1px 5px #dbdbdb;
  background: #fff;
  z-index: 999;
}

/* navigation */
nav {
  display: flex;
  align-items: center;
  min-height: 8vh;
  box-shadow: 0 4px 2px -2px dbdbdb;
  margin: auto;
  width: 100%;
  z-index: 100;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.nav-links li {
  list-style: none;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #327c9c;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px;
}

.highlighted {
  color: #cc0052 !important;
}


/* Table styling */
table {
  border-collapse: collapse;
  width: auto;
}

th {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-top: 15px;
  padding: 5px;
  vertical-align: top;
  font-size: 0.9rem;
  color: #003366;
}

tbody {
  text-align: right;
  vertical-align: top;
  font-size: 0.9rem;
  color: #4c4c4e;
  border-bottom: 1px solid #333;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table_1_class tr:nth-child(1) {
  font-weight: bold;
}
.table_1_class tr:nth-child(2) {
  font-weight: bold;
}
.table_1_class tr:nth-child(8) {
  font-weight: bold;
}

.table_2_class tr:nth-child(1) {
  font-weight: bold;
}
.table_2_class tr:nth-child(2) {
  font-weight: bold;
}
.table_2_class tr:nth-child(8) {
  font-weight: bold;
}

.table_higher_class tr:nth-child(1) {
  font-weight: bold;
}
.table_higher_class tr:nth-child(2) {
  font-weight: bold;
}
.table_higher_class tr:nth-child(8) {
  font-weight: bold;
}
.table_higher_class tr:nth-child(16) {
  font-weight: bold;
  border-top: 1pt solid black; 
}
.table_higher_class tr:nth-child(17) {
  font-weight: bold;

}

td:nth-child(1) {
  width: 30%;
  text-align: left;
}

/* Element styling */
.give_me_space_to_search {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.SearchBar {
  display: inline;
  position: relative;
  left: 1%;
  font-weight: bold;
}

.SearchBar input {
  position: relative;
  left: 2%;
  font-weight: normal;
}

.tooltip_class {
  max-width: 200px;
  padding-left: 5px;
  padding-right: 5px;
  /* font-size: 0.9rem; */
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
  text-align: left !important;
}

#pyramid_container {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex: auto;
}

/* Maps */

#map_slider_change_id {
  height: 480px;
  /* width: 80%; */
  margin: auto;
  background-color: antiquewhite;
}

#map_overall_population {
  height: 480px;
  /* width: 80%; */
  margin: auto;
  background-color: antiquewhite;
}

#map_lsoa_pcn_footprint {
  height: 480px;
  /* width: 80%; */
  margin: auto;
  background-color: antiquewhite;
}

#map_age_population {
  height: 480px;
  /* width: 80%; */
  margin: auto;
  background-color: antiquewhite;
}

#map_pcn_reach_lsoa {
  height: 480px;
  margin:auto;
  background-color: antiquewhite;
}

#map_general_health_id {
  height: 480px;
  margin:auto;
  background-color: antiquewhite;
}

#map_disability_id {
  height: 480px;
  margin:auto;
  background-color: antiquewhite;
}

.legend {
  border-radius: 10px;
  background-color: #fff;
  padding: 5px;
  line-height: 18px;
  color: #555;
}
.legend i {
   width: 18px;
   height: 18px;
   border-radius: 50%;
   float: left;
   margin-right: 8px;
   opacity: 1;
} 

.map_title {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #fff;
}